//cores
$p01: #00A1B4;
$p02: #0BC2D8;
$p03: #24D2E6;
$p04: #86DCE5;
$c01: #C9DA43;
$c02: #D2DD79;
$c03: #DBE2A5;
$c04: #E6EACA;
$b01: #00444D;
$d01: #9DAC27;
$w01: #fff;

//tamanho dos dispositivos
$tablet-width: 768px;
$desktop-width: 1024px;
